*
{
    margin:0;
    padding:0;
}
#header
{
    width:97.4%;
    height:50%;
    padding:20px;
    background-image: url("header.jpg");
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:10px;
    flex-wrap:wrap;
} 
#header> img
{
    opacity:0.5;
}
.nav
{
    width:120px;
    height:50px;
    background-color:#3D9DD9;
    border-radius:50px;
    text-align:center;
    margin-top:0;
    margin-right:0;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    border-top-style:none;
    border-left-style:none;
    border-right-style:none;
    font-size:20px;
    color:cyan;
    font-weight:bold;
    font-family:delius;
    border-bottom-color:rgb(2, 2, 83);
} 
#logo
{
    margin-bottom: 0;
    margin-top:2px;
    margin-right:0;
    font-family:Roboto Condensed;
    margin-left:2px;
    display:inline-flex;
    align-items:center;
    width:50px;
    font-size:50px;
    position:relative;
    text-align:left;
}
.child
{
    width:200px;
    height:200px;
    padding:30px;
    margin-top:30px;
    margin:auto;
    margin-left:80px;
    float:left;
    display:flex;
    flex-direction:column;
    font-size:50px;
    text-align:center;
    justify-content:center;
    align-items: center;

}
.child> p
{
    font-size:20px;
    font-family: Algerian;
}
@media screen and (max-width:1500px)
{
    #header
    {
        grid-template-columns:repeat(4,1fr);
    }
    .child
    {
        display:flex;
        flex-direction:column;
        font-size:20px;
        text-align:center;
        margin:auto;
    }
}
@media screen and (max-width:1000px)
{
    #header
    {
        grid-template-columns:repeat(4,1fr);
    }
    .child
    {
        display:flex;
        flex-direction:column;
        font-size:20px;
        text-align:center;
        margin:auto;
    }
}