
*
{
    padding:0;
    margin:0;
    font-family: delius;
}
body
{
    background-image: url("bg.jpg");
}
div
{
    margin:auto;
    box-shadow:0 15px 35px rgba(0 ,0, 0, 0.5);
    border:1px solid rgba(255,255,255,0.07);
    border-radius:30px;
    backdrop-filter: blur(10px);
    margin-top:50px;
    width:30%;
    height:50%;
    padding:50px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#count_label
{
    font-size:200px;
    margin-left:34px;
}
#screen
{
    margin-top:10%;
    font-size:30px;
    margin-left:10%;
}
h1
{
    margin-left:42%;
    margin-top:2%;
}
div>button
{
    margin-left:34px;
    padding:5px;
    width:110px;
    height:40px;
    border-style:solid;
    box-shadow:0 15px 35px rgba(209, 190, 190, 0.582);
    border-color:#010e1f;
    border-radius:50px;
    background-color:#4771a2;
    color:whitesmoke;
    font-size:18px;
}
button:hover
{
    background-color:#010e1f;
    box-shadow:0 15px 35px rgba(255, 255, 255, 0.737);
    color:white;
    transition-delay: 200ms;
}
@media screen and (max-width: 700px)
{
    div
    {
        width: 80%;
        height: 60%;
        padding: 20px;
    }
    #count_label
    {
        font-size:200px;
        margin-left:-40px;
        justify-content: center;
        align-items:center;
    }
    #screen
    {
        font-size:20px;
        margin-left:5px;
        margin-top:5%;
    }
    h1
    {
        margin-left:25%;
        margin-top:5%;
    }
    div>button
    {
        margin-left:5px;
        padding:10px;
        width:90px;
        height:50px;
        font-size:14px;
    }
     
}
@media screen and (max-width: 600px)
{
    div
    {
        width: 90%;
        height: 60%;
        padding: 10px;
    }
    #count_label
    {
        font-size:150px;
        margin-left:-40px;
        justify-content: center;
        align-items:center;
    }
    #screen
    {
        font-size:15px;
        margin-left:5px;
        margin-top:5%;
    }
    h1
    {
        margin-left:20%;
        margin-top:5%;
    }
    div>button
    {
        margin-left:5px;
        padding:10px;
        width:80px;
        height:40px;
        font-size:12px;
    }
     
}
@media screen and(max-width:1000px)
{
    div
    {
        width:50%;
        padding-left:5px;
    }
    div> button
    {
        margin-left:-15px;
    }
}